---
name: Continous Integration - Branches

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - dev
      - feat/*
      - fix/*
      - rel/*
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:

  python-poetry:
    name: Call Python Poetry
    uses: irishlab-io/admin/.github/workflows/reusable-python-poetry.yml@main

    with:
      working_directory: "./app/"
      python_version: "3.12"
      poetry_version: "1.8.4"

  docker-build:
    name: Call Docker Build
    if: github.ref == 'refs/heads/dev'
    uses: irishlab-io/admin/.github/workflows/reusable-docker-build.yml@main

    needs:
      - python-poetry

    permissions:
      contents: read
      packages: write
      pull-requests: write

    with:
      context: "./app/"
      tag-rules: |
        type=raw,value=gha-${{ github.run_id }},enable=${{github.event_name == 'pull_request'}},priority=200
        type=raw,value=dev,priority=100
        type=raw,value=dev-{{date 'YYYYMMDD'}}-{{sha}},priority=300
