---
name: Continous Integration - Cron

on: # yamllint disable-line rule:truthy
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:

  labeler:
    name: Call GH Labeler
    uses: irishlab-io/admin/.github/workflows/reusable-gh-labeler.yml@main

    permissions:
      contents: read
      pull-requests: write

    with:
      configuration_file: ".github/labeler.yml"

  secret:
    name: Call Secret Scanning
    uses: irishlab-io/admin/.github/workflows/reusable-secret.yml@main

    secrets: inherit

  pre-commit:
    name: Call Pre-Commit for private repo
    uses: irishlab-io/admin/.github/workflows/reusable-pre-commit.yml@main

    needs:
      - secret

  hello-world:
    name: Call Hello World
    uses: irishlab-io/admin/.github/workflows/reusable-hello-world.yml@main

    needs:
      - pre-commit
      - secret

    with:
      comments: "4321tset"
      enable: false

  python-poetry:
    name: Call Python Poetry
    uses: irishlab-io/admin/.github/workflows/reusable-python-poetry.yml@main

    needs:
      - secret

    with:
      working_directory: "./app/"
      python_version: "3.12"
      poetry_version: "1.8.4"

  docker-build:
    name: Call Docker Build
    uses: irishlab-io/admin/.github/workflows/reusable-docker-build.yml@main

    needs:
      - python-poetry

    permissions:
      contents: read
      packages: write
      pull-requests: write

    with:
      context: "./docker/"
      tag-rules: |
        type=raw,value=gha-${{ github.run_id }},enable=${{github.event_name == 'pull_request'}},priority=200
        type=raw,value=nightly,enable={{is_default_branch}},priority=100
        type=raw,value=nightly-{{date 'YYYYMMDD'}}-{{sha}},enable={{is_default_branch}},priority=300
